<%= link_to "Back to list", integrations_path %>
<br>
<h1>Integration: <%= @integration.id %></h1>

  <% if params[:check_token] %>
    <% @token_info = @service.token_info.as_json %>
  <% end %>

<table>
  <%= render partial: 'integration', locals: { integration: @integration } %>
</table>

<br>
<% if @credentials.present? %>
  <%= form_with url: url_for([:revoke_authorization, @integration]), method: :post do %>
    <%= button_tag "Revoke" %>
  <% end %>

  <br>
  <% if params[:check_token] %>
    Token info: <%= @token_info %>
    <br>
    <%= link_to "Close", integration_path(@integration) %>
  <% else %>
    <%= link_to "Check token", integration_path(@integration, check_token: 1) %>
  <% end %>
<% else %>
  <%= link_to "Authorize", @service.get_authorization_url(request) %>
<% end %>


<br>
<br>
<h2>Tokens (<%= @integration.tokens.count %>)</h2>
<ol>
  <% @integration.tokens.each do |token| %>
    <li><%= token.attributes.as_json(except: "secret") %></li>
  <% end %>
</ol>
