<%= link_to "Back to list", integrations_path %>
<br>
<h1>Integration: <%= @integration.id %></h1>


<table>
  <%= render partial: 'integration', locals: { integration: @integration } %>
</table>

<br>
<% if @integration.credentials.present? %>
  <%= form_with url: url_for([:revoke_authorization, @integration]), method: :post do %>
    <%= button_tag "Revoke" %>
  <% end %>
  <%= link_to "Check token", integration_path(@integration, check_token: 1) %>
<% end %>

<% if @url.present? %>
  <%= link_to "Authorize", @url %>
<% end %>

<% if @token_info %>
  <br>
  Token info: <%= @token_info.as_json %>
<% end %>


<br>
<br>
<h2>Tokens (<%= @tokens.count %>)</h2>
<ol>
  <% @tokens.each do |token| %>
    <li><%= token.attributes.as_json(except: "secret") %></li>
  <% end %>
</ol>
