<h1>Element: <%= @element.synchronizable %></h1>

<%= link_to "Back to list", elements_path %>
<br>
<%= form_with(url: fetch_remote_element_path(@element)) do |f| %>
  <%= f.submit "Fetch remote" %>
<% end %>

<%= form_with(url: resolve_conflict_element_path(@element)) do |f| %>
  <%= f.submit "Resolve conflict" %>
<% end %>

<%= form_with(url: modify_local_element_path(@element)) do |f| %>
  <%= f.submit "Modify" %>
<% end %>
<%= form_with(url: update_status_element_path(@element)) do |f| %>
  <%= f.submit "Update status" %>
<% end %>
<br>



<br><label>synchronizable_type:</label> <%= @element.synchronizable_type %>
<br><label>synchronizable_id:</label> <%= @element.synchronizable_id %>

<% @element.synchronizable.protocol_methods.each do |method| %>
  <br><label><%= method %>:</label> <%= @element.synchronizable.send(method) %>
<% end %>
<br><label>synchronizable created_at:</label> <%= @element.synchronizable.created_at %>
<br><label>synchronizable updated_at:</label> <%= @element.synchronizable.updated_at %>
<br>

<br><label>ne_status:</label> <%= @element.ne_status %>
<br><label>updated_at:</label> <%= @element.updated_at %>
<br><label>created_at:</label> <%= @element.created_at %>

<h3>Versions</h3>
<table>
  <tr>
    <th></th>
    <th>Origin</th>
    <th>Status</th>
    <th>Sequence</th>
    <th>ETag</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>
  <% @element.element_versions.order(id: :desc).each do |version| %>
    <tr>
      <td><%= link_to "Show", element_version_path(version) %></td>
      <td><%= version.origin %></td>
      <td><%= version.nev_status %></td>
      <td><%= version.sequence %></td>
      <td><%= version.etag %></td>
      <td><%= version.created_at %></td>
      <td><%= version.updated_at %></td>
    </tr>
  <% end %>
</table>
