<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Nexo" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <style>
      table th {
        font-weight: bold;
      }
      table th, table td {
        border: 1px solid lightgrey;
        padding: 0.4em;
      }
    </style>
  </head>

  <body>
    <% flash.each do |flash_type, message| %>
      <div>
        <%= flash_type %>:
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
