<h1>Folders</h1>
Showing <%= @folders.count %> folders from a total of <%= Nexo::Folder.count %>
<table>
  <tr>
    <th></th>
    <th>User</th>
    <th>Name</th>
    <th>Updated at</th>
    <th>Created at</th>
  </tr>
  <% @folders.each do |folder| %>
    <tr>
      <td><%= link_to "Show", folder_path(folder) %></td>
      <td><%= folder.integration.user %></td>
      <td><%= folder.name %></td>
      <td><%= folder.updated_at %></td>
      <td><%= folder.created_at %></td>
    </tr>
  <% end %>
</table>
