<%= form_with(model: @third_party_integration) do |f| %>
  <div>
    <%= f.hidden_field :third_party_client_id %>
  </div>
  <br>
  <div>
    <%= f.label :name, "Name (Optional)" %>
    <%= f.text_field :name %>
  </div>
  <br>
  <div>
    <label>Permissions</label>
    <br>
    <% @available_scopes.each do |scope| %>
      <%= check_box_tag "third_party_integration[scope][]", scope, @third_party_integration.scope&.include?(scope.to_s), id: "third_party_integration_scope_#{scope}" %>
      <%= label_tag "third_party_integration_scope_#{scope}", t("google.#{scope}") %>
      <br>
    <% end %>
  </div>
  <br>
  <div>
    <%= f.submit %>
  </div>
<% end %>
