<%= link_to "Back to list", third_party_integrations_path %>
<br>
<h1>Nueva Integración</h1>

<%= form_with(model: @third_party_integration) do |f| %>
  <div>
    <%#= f.select :third_party_client, options_from_collection_for_select(@clients, :id, :to_s) %>
    Integrar con: <%= @client %>
    <%= f.hidden_field :third_party_client_id %>
  </div>
  <div>
    <% @available_scopes.each do |scope| %>
      <%= check_box_tag "third_party_integration[scope][]", scope, id: "third_party_integration_scope_#{scope}" %>
      <%= label_tag "third_party_integration_scope_#{scope}", t("google.#{scope}") %>
    <% end %>
  </div>
  <div>
    <%= f.label :third_party_id_user %>
    <%= f.text_field :third_party_id_user %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
