<%= link_to "Back to list", third_party_integrations_path %>
<br>
<h1>ThirdPartyIntegration: <%= @third_party_integration.id %></h1>


<table>
  <%= render partial: 'third_party_integration', locals: { third_party_integration: @third_party_integration } %>
</table>

<br>
<% if @third_party_integration.credentials.present? %>
  <%= form_with url: url_for([:revoke_authorization, @third_party_integration]), method: :post do %>
    <%= button_tag "Revoke" %>
  <% end %>
  <%= link_to "Check token", third_party_integration_path(@third_party_integration, check_token: 1) %>
<% end %>

<% if @url.present? %>
  <%= link_to "Authorize", @url %>
<% end %>

<% if @token_info %>
  <br>
  Token info: <%= @token_info.as_json %>
<% end %>


<br>
<br>
<h2>ThirdPartyTokens (<%= @tokens.count %>)</h2>
<ol>
  <% @tokens.each do |token| %>
    <li><%= token.attributes.as_json(except: "secret") %></li>
  <% end %>
</ol>
